* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#outer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

#container {
  background-color: rgb(226, 226, 182);
  width: 75%;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 25px;
}

select,
#btn {
  min-width: 130px;
  max-width: 170px;
  height: 40px;
  border-radius: 15px;
  margin: 5px;
}

#btn:hover {
  cursor: pointer;
}

#inner-container {
  width: 80%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-container {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 520px) {
  #container {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  select,
  #btn {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 18px;
  }
}
